.error {
    color: red;
}

.formEntry {
    margin: 2px 0px 2px 0px;
}
.formEntry label {
    width: 150px;
}
.form button {
    margin-top: 10px;
}
.loginView {
    padding-top: 100px;
}
.formWrapper {
    width: 40%;
    margin: auto;

    text-align: center;
    vertical-align: center;
}
.form {
    background: rgb(240, 240, 240);
    display: inline-block;
    text-align: center;
    vertical-align: center;
    align-content: center;
    padding: 20px;
}