<div>
    <div class=header>
        <h1>Welcome <span>{{username}}</span></h1>
        <div class="panel">
            <div class="add"><button (click)="addNote()"><span class="glyphicon glyphicon-plus"></span></button></div>
            <input type="text" [(ngModel)]="newNoteName"/>
            <div class="delete"><button (click)="deleteNote()"><span class="glyphicon glyphicon-trash"></span></button></div>
            <div class="logout"><button (click)="logout()"><span class="glyphicon glyphicon-off"></span></button></div>

        </div>
    </div>
    <ul class="notes">
        <li *ngFor="let note of notes" 
        (click)="onSelect(note)" 
        class="notewrapper">
        <div class="note" [class.selected]="note===selectedNote">
                <div class="nameWrapper">
                    <span class="noteName">{{note.name}}</span>
                </div>
        </div>
            
        </li>
    </ul>
</div>
<div class="dataWrapper" *ngIf="selectedNote">
    <textarea [(ngModel)]="selectedNote.data" class="noteData" ></textarea>
</div>